@using Models;
@page "/drinkinggame"

<PageTitle>Drinking Game</PageTitle>

<h1>Drinking Game</h1>

<p>@tasky</p>
<button class="btn btn-primary" @onclick="HandleButtonPress">Task</button>

@code {
    private string tasky { get; set; }


    private void HandleButtonPress()
    {
        
    }
}