@using DrinkingGameWebApp.Models;
@using Newtonsoft.Json;
@page "/drinkinggame"

<PageTitle>Drinking Game</PageTitle>

<h1>Drinking Game</h1>

<p>@tasky</p>
<button class="btn btn-primary" @onclick="HandleButtonPress">Task</button>

@code {
    List<string> Players = new List<string>(Global.Players);
    private string tasky { get; set; }
    static string jsonFile = File.ReadAllText("Tasks.json");
    List<Tasker>? tasks = JsonConvert.DeserializeObject<List<Tasker>>(jsonFile);
    Random rnd = new Random();

    //private void DeletePlayer(int id) => Players.Remove(Players[id]);
    //private void DeletePrompt(int id) => Players.Remove(tasks[id].Prompt);

    private void HandleButtonPress()
    {
        //System.Console.Write(Players.Count);
        //if (tasks.Count == 0)
        //{
            //tasky = "No more prompts";
            //return;
        //}

        //if (Players.Count == 1 || Players.Count == 0)
        //{
            //Players = new List<string>(Global.Players);
        //}

        int i = rnd.Next(tasks.Count);
        int i2 = rnd.Next(Players.Count);
        int i3 = rnd.Next(Players.Count);

        while (i3 == i2)
        {
            i3 = rnd.Next(0, Players.Count);
        }

        if (tasks[i].Type == 0)
        {
            tasky = tasks[i].Prompt;
        }
        else if (tasks[i].Type == 1)
        {
            tasky = String.Format("\n{0} {1}", Players[i2], tasks[i].Prompt);
            //DeletePrompt(i);
            //DeletePlayer(i2);
        }
        else if (tasks[i].Type == 2)
        {
            tasky = String.Format("\n{0} {1} {2} {3}", Players[i2], tasks[i].Prompt, Players[i3], tasks[i].Prompt2);
            //DeletePrompt(i);
            //DeletePlayer(i2);
            //DeletePlayer(i3);
        }
    }
}